.container {
  padding: 4vh 2vh;
  padding-top: var(--header-height);
  background: var(--dark-gradient);
  box-shadow: var(--shadow-1);
  background-image: url("../../assets/img/bkg2.jpg");
  background-size: repeat;
}

.divider {
  background: #ffffff3a;
  width: 90%;
  height: 2px;
}
