.logo {
  height: 50px;
  width: auto;
}

.menuBar {
  position: fixed;
  height: var(--header-height);
  width: 100vw;
  z-index: 1000;
  background: var(--green-2);
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: var(--white-1);
  display: flex;
  justify-content: space-between;
  padding: 0 5vw;
}

:global(.p-menuitem-link) {
  color: white;
}

:global(.p-menuitem-content) {
  background: none !important;
}

:global(.p-menuitem-text),
:global(.p-menuitem-icon) {
  color: inherit;
  font-size: var(--font-1);
}

:global(.p-menuitem-link:hover) {
  color: var(--white-2);
}

@media (max-width: 768px) {
  :global(.p-menubar-root-list) {
    border-radius: 5px;
  }

  :global(.p-menuitem-link) {
    color: var(--font-black);
    border-bottom: 1px solid #edecec;
  }

  :global(.p-menubar-button) {
    color: white;
    background: none;
  }
}
