.container {
  background: var(--black-1);
  height: 100%;
  padding-top: calc(var(--header-height) + 2vh);
  padding-bottom: 2vh;
}

.hero {
  height: 50vh;
  width: 70vw;
  margin: 0 auto;
  background: var(--bright-gradient);
  border-radius: 10px;
  display: flex;
  box-shadow: var(--dark-shadow-1);
}

.mainImg {
  height: 100%;
  margin: auto;
  max-width: 100%;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 5vw;
}

.title {
  color: var(--dk-green);
}

.description {
  color: black;
  font-size: var(--font-2);
  margin-top: 10px;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    height: fit-content;
  }
}
