.container {
  width: 100vw;
  background: var(--white-1);
  padding-top: var(--header-height);
  color: var(--font-black);
}

.content {
  width: 50vw;
  margin: 0 auto;
  padding: 1rem;
}

.text {
  text-align: justify;
}

.center {
  text-align: center;
  font-weight: 600;
}

.text p {
  text-indent: 2rem;
}

@media (max-width: 768px) {
  .content {
    width: 80vw;
  }
}
